<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="in.lucasdup.bringtofront" version="0.0.1">
	<name>Bring to Front</name>
	<description>Brings current activity to front</description>
	<author>Lucas Dupin</author>
	<license>Apache 2.0</license>
	<keywords>cordova,android,activity,foreground</keywords>
	<engines>
		<engine name="cordova-android" version=">=4.0.0-dev" />
	</engines>
	<platform name="android">
		<source-file src="src/android/BringToFront.java"
                target-dir="src/in/lucasdup/bringtofront" />
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="bringtofront">
				<param name="android-package" value="in.lucasdup.bringtofront.BringToFront" />
			</feature>
		</config-file>
		<js-module src="www/bring-to-front.js" name="BringToFront">
			<clobbers target="plugins.bringtofront" />
		</js-module>
		
<!-- 	<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="de.appplant.cordova.plugin.background.ForegroundService" />
        </config-file> -->
		
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
	
		<activity
		    android:name="in.lucasdup.bringtofront.OnePiexlActivity"
		    android:theme="@android:style/Theme.Translucent" 
		    android:screenOrientation="portrait">
		</activity>
		
		<!--JobServer-->
		<service
		    android:name="in.lucasdup.bringtofront.MyJobService"
		    android:enabled="true"
		    android:exported="true"
		    android:permission="android.permission.BIND_JOB_SERVICE">
		</service>
		
		       <!--双进程服务-->
       	 	<service android:name="in.lucasdup.bringtofront.LocalCastielService"></service>
        	<service android:name="in.lucasdup.bringtofront.RemoteCastielService"
			 android:process=":remote"></service>
		
		 <!-- 开机自启动广播接受 -->
        	<receiver android:name="in.lucasdup.bringtofront.AutoStartBroadcastReceiver" >
            		<intent-filter>
                		<action android:name="android.intent.action.BOOT_COMPLETED" />
                		<category android:name="android.intent.category.HOME"/>
            		</intent-filter>
        	</receiver>
		
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
		  <!--开机启动权限-->
		  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>
		
	<source-file
            src="src/android/MyJobService.java"
            target-dir="src/in/lucasdup/bringtofront" />
		
	<source-file
            src="src/android/OnePiexlActivity.java"
            target-dir="src/in/lucasdup/bringtofront" />
		
	<source-file
            src="src/android/OnePixelReceiver.java"
            target-dir="src/in/lucasdup/bringtofront" />
		
	<source-file
            src="src/android/AutoStartBroadcastReceiver.java"
            target-dir="src/in/lucasdup/bringtofront" />
		
	<source-file
            src="src/android/LocalCastielService.java"
            target-dir="src/in/lucasdup/bringtofront" />
		
	<source-file
            src="src/android/RemoteCastielService.java"
            target-dir="src/in/lucasdup/bringtofront" />
		
	<source-file
            src="src/android/aidl/CastielProgressConnection.aidl"
            target-dir="src/com/android" />
		
	</platform>
</plugin>
