<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="in.lucasdup.bringtofront" version="0.0.1">
	<name>Bring to Front</name>
	<description>Brings current activity to front</description>
	<author>Lucas Dupin</author>
	<license>Apache 2.0</license>
	<keywords>cordova,android,activity,foreground</keywords>
	<engines>
		<engine name="cordova-android" version=">=4.0.0-dev" />
	</engines>
	<platform name="android">
		
		<lib-file src="src/android/libs/bugly_crash_release.jar" />

		
		<source-file src="src/android/BringToFront.java"
                target-dir="src/in/lucasdup/bringtofront" />
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="bringtofront">
				<param name="android-package" value="in.lucasdup.bringtofront.BringToFront" />
			</feature>
		</config-file>
		<js-module src="www/bring-to-front.js" name="BringToFront">
			<clobbers target="plugins.bringtofront" />
		</js-module>
		
<!-- 	<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="de.appplant.cordova.plugin.background.ForegroundService" />
        </config-file> -->
		
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
	
		<activity
		    android:name="in.lucasdup.bringtofront.OnePiexlActivity"
		    android:theme="@android:style/Theme.Translucent" 
		    android:screenOrientation="portrait">
		</activity>
		
		<!--JobServer-->
		<service
		    android:name="in.lucasdup.bringtofront.MyJobService"
		    android:enabled="true"
		    android:exported="true"
		    android:permission="android.permission.BIND_JOB_SERVICE">
		</service>
		
		<service android:name="in.lucasdup.bringtofront.VVServer"
			 android:process=":VVServer"></service>
		
		
		 <!-- 开机自启动广播接受 -->
        	<receiver android:name="in.lucasdup.bringtofront.AutoStartBroadcastReceiver" >
            		<intent-filter>
                		<action android:name="android.intent.action.BOOT_COMPLETED" />
                		<category android:name="android.intent.category.HOME"/>
            		</intent-filter>
        	</receiver>
		
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
		 <!--开机启动权限-->
		 <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
     		 <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
      		 <uses-permission android:name="android.permission.INTERNET"></uses-permission>
      		 <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
      		 <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
        </config-file>
		
	<config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application">
      		<meta-data android:name="BUGLY_APPID" android:value="28af1eb03e" />
     		<meta-data android:name="BUGLY_ENABLE_DEBUG" android:value="true" />
      	</config-file>
		
	<source-file
            src="src/android/MyJobService.java"
            target-dir="src/in/lucasdup/bringtofront" />
		
	<source-file
            src="src/android/OnePiexlActivity.java"
            target-dir="src/in/lucasdup/bringtofront" />
		
	<source-file
            src="src/android/OnePixelReceiver.java"
            target-dir="src/in/lucasdup/bringtofront" />
		
	<source-file
            src="src/android/AutoStartBroadcastReceiver.java"
            target-dir="src/in/lucasdup/bringtofront" />
		
	<source-file
            src="src/android/VVServer.java"
            target-dir="src/in/lucasdup/bringtofront" />
		
<!-- 	<source-file 
		src="src/android/xxx.jar" 
		target-dir="libs" framework="true" /> -->

	</platform>
</plugin>
